
html {
  line-height: 1;
}

ol, ul {
  list-style: none; }



header {
  text-align: center;
  position: relative;
  background-image: url(slider-horizontal.jpg);
  background-repeat: repeat-x;
  background-position: 0 bottom;
  background-size: 400%;
  padding-bottom: 32.5%;
  -webkit-animation: h_slide 24s ease-out infinite;
  -moz-animation: h_slide 24s ease-out infinite;
  animation: h_slide 24s ease-out infinite; }



@-webkit-keyframes h_slide {
  0% {
    background-position: 0% bottom; }

  20% {
    background-position: 0% bottom; }

  25% {
    background-position: 33.33333% bottom; }

  45% {
    background-position: 33.33333% bottom; }

  50% {
    background-position: 66.66667% bottom; }

  70% {
    background-position: 66.66667% bottom; }

  75% {
    background-position: 100% bottom; }

  95% {
    background-position: 100% bottom; }

  100% {
    background-position: 133.33% bottom; } }

@-moz-keyframes h_slide {
  0% {
    background-position: 0% bottom; }

  20% {
    background-position: 0% bottom; }

  25% {
    background-position: 33.33333% bottom; }

  45% {
    background-position: 33.33333% bottom; }

  50% {
    background-position: 66.66667% bottom; }

  70% {
    background-position: 66.66667% bottom; }

  75% {
    background-position: 100% bottom; }

  95% {
    background-position: 100% bottom; }

  100% {
    background-position: 133.33% bottom; } }

@keyframes h_slide {
  0% {
    background-position: 0% bottom; }

  20% {
    background-position: 0% bottom; }

  25% {
    background-position: 33.33333% bottom; }

  45% {
    background-position: 33.33333% bottom; }

  50% {
    background-position: 66.66667% bottom; }

  70% {
    background-position: 66.66667% bottom; }

  75% {
    background-position: 100% bottom; }

  95% {
    background-position: 100% bottom; }

  100% {
    background-position: 133.33% bottom; } }




